* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    color: #fff;
}

header {
    height: 45vh;
}

.header-menu {
    height: 45vh;
    background-color: rgb(0, 0, 0);
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-title {
    padding: 2rem;
    font-size: 6rem;
    font-weight: bolder;
}

.header-image {
    width: 13%;
    position: relative;
    right: 3vw;
}

.header-list {
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    list-style: none;
    cursor: pointer;
}

nav ul li:hover {
    font-weight: bold;
}

main {
    height: 155vh;
    width: 85vw;
    margin: auto;
    background-color: rgb(39, 39, 39);
}

.photo-box {
    width: 20%;
}

.main-photo {
    display: flex;
    justify-content: center;
}

.main-title, .main-about {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.main-button {
    padding: 1rem;
    height: 5rem;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.button-text:hover {
    transition: 1s ease-out;
    box-shadow: inset 8rem 0 0 0 gray;
}

.button-text {
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 3rem;
}

.main-text {
    padding: 2rem;
    width: 82rem;
}

.main-paragraph {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    border: white 3px solid;
}

.photo-dog {
    width: 10%;
}

.dog-box, .box-info {
    display: flex;
    justify-content: space-around;
}
@media(max-width: 768px) {
    .dog-box{
        display: none;
    }
}

footer {
    height: 30vh;
    background-color: black;
    font-size: 1.25rem;
}

.footer-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.icon-box {
    display: flex;
    justify-content: center;
}

.info-box {
    padding: 1rem;
    font-size: 1.5rem;
}

.icon-footer {
    width: 3%;
    cursor: pointer;
}

.adopt-button {
    height: 2rem;
    width: 4rem;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 3rem;
    cursor: pointer;
    
}
.adopt-button:hover {
    transition: 1s ease-out;
    box-shadow: inset 5rem 0 0 0 rgb(15, 226, 103);
}