* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    color: #fff;
}

header {
    height: 50vh;
}
@media(max-width: 768px) {
    header {
        height: 80vh;
    }
}

.header-menu {
    height: 50vh;
    background-color: rgb(0, 0, 0);
}
@media(max-width: 768px) {
    .header-menu {
        height: 80vh;
    }
}

.header-box {
    display: flex;
    justify-content: space-between;
}
@media(max-width: 768px) {
    .header-box {
        flex-direction:column;
    }
}

.header-title {
    padding: 2rem;
    font-size: 6rem;
    font-weight: bolder;
}
@media(max-width: 768px) {
    .header-title {
        font-size: 4rem;
        text-align: center;
    }
}

.header-image {
    width: 13%;
    position: relative;
    right: 3vw;
}
@media(max-width: 768px) {
    .header-image {
        width: 15%;
        right: 0;
        left: 43vw;
    }
}

.header-list {
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    list-style: none;
    cursor: pointer;
}
@media(max-width: 768px) {
    .header-list {
        flex-direction: column;
        text-align: center;
    }
    nav ul li:hover {
        text-decoration: underline rgb(70, 192, 121);
    }
}

nav ul li:hover {
    font-weight: bold;
}

main {
    height: 165vh;
    width: 85vw;
    margin: auto;
    background-color: rgb(39, 39, 39);
}
@media(max-width: 768px) {
    main {
        height: 270vh;
    }
}

.photo-box {
    width: 20%;
}

.main-photo {
    display: flex;
    justify-content: center;
}

.main-title, .main-about {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

@media(max-width: 768px) {
    .dog-box {
        justify-content: center;
        flex-direction: column;
    }
}

.main-button {
    padding: 1rem;
    height: 5rem;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.button-text:hover {
    transition: 1s ease-out;
    box-shadow: inset 10rem 0 0 0 rgb(70, 192, 121)
}

.button-text {
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 3rem;
}

.main-text {
    padding: 2rem;
    width: 82rem;
}

.main-paragraph {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    border: white 3px solid;
}

.photo-dog {
    width: 13%;
}
@media(max-width: 768px) {
    .photo-dog {
        width: 24%;
        align-self: center;
        margin-top: 1rem;
    }
}

.dog-box, .box-info {
    display: flex;
    justify-content: space-around;
}

.box-info {
    margin-top: 1rem;
}

footer {
    height: 30vh;
    background-color: black;
    font-size: 1.25rem;
}

.footer-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.icon-box {
    display: flex;
    justify-content: center;
}

.info-box {
    padding: 1rem;
    font-size: 1.5rem;
}

.icon-footer {
    width: 3%;
    cursor: pointer;
}

.adopt-button {
    height: 2rem;
    width: 4rem;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 3rem;
    cursor: pointer;
    
}
.adopt-button:hover {
    transition: 1s ease-out;
    box-shadow: inset 5rem 0 0 0 rgb(70, 192, 121);
}