* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 40vh;
}

.header-title {
    color: white;
    font-size: 95px;
    font-weight: bolder;
}

.header-name {
    height: 40vh;
    color: white;
    background: linear-gradient(rgb(120, 176, 240), pink);
    border: white 3px solid;
}

.header-list {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    color: white;
    font-size: 22px;
    list-style: none;
}

nav ul li:hover {
    color: white;
    font-weight: bold;
}

main {
    height: 160vh;
    background-color: pink;
}

.photo-box {
    width: 200px;
}

.main-photo {
    display: flex;
    justify-content: center;
}

.main-title, .main-about {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: white;
}

.main-button {
    height: 4rem;
    display:flex;
    justify-content: center;
    padding: 1rem;
    font-size: 25px;
}

.main-text {
    padding: 2rem;
    width: 82rem;
    color: white;
}

.main-paragraph {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: white 3px solid;
}

.photo-dog {
    width: 200px;
}

footer {
    height: 30vh;
    background: linear-gradient(pink, rgb(120, 176, 240));
    color: white;
}

.dog-box, .box-info {
    display: flex;
    justify-content: space-around;
}

.icon-box {
    display: flex;
    padding: 1rem;
}

.icon-photo {
    width: 40px;
}

.info-box {
    padding: 1rem;
}

.adopt-button {
    height: 30px;
    width: 65px;
}